.app-product-list {
  font-family: 'Poppins';
}

.overlay {
  display: block;
  position: fixed;
  padding-top: calc(100px + env(safe-area-inset-top));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  transform: none;
  padding-bottom: 30px;

}

.hide {
  display: none;
}

.show {
  display: block;
}

.pricerange {
  margin-right: 5px;
}

.no_product {
  margin: 15px;
  border: 1px solid #eeeeee;
  width: 100%;
  text-align: center;
  padding: 4rem;
}

.pagination {
  display: flex;
}

.pagination li {
  color: #2a4153;
  float: left;
  padding: 8px;
  text-decoration: none;
}

.pagination li {
  padding: 4px;
  font-size: 12px;
  border: 1px solid #2a4153;
  margin-right: 10px;
}

.pagination li.disabled {
  background: #E4E4E4;
}

.pagination li.active {
  background-color: #2a4153;
  color: white;
}

.pagination li:hover {
  background-color: #2a4153;
  color: white;
}

.pagination li.active a {
  background: #2a4153;
  color: #fff;
}

.pagination li a {
  color: #2a4153;
}

.pagination li.disabled span {
  background: #E4E4E4;
  color: #000;
}

.page-link {
  border: none;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
}

.modal-content.shortBy {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0.3rem;
  outline: 0;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 11px;
}

.resetFilter {
  font-size: 3vw;
  font-weight: 500;
  margin-left: auto;
  font-family: 'Poppins';
}

.priceFont {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Gotham';
  padding-left: 5vw;
}

.price_range {
  display: flex;
}

.price_range input {
  width: 80px;
  margin: 5px;

}

.radio-block.disabledRadio {
  opacity: 0.4;
  pointer-events: none;
}

.size_chart_share {
  position: relative;
}

.capitalize {
  text-transform: capitalize;
}

.fathersday-discount {
  color: #2a4153;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 0;

  z-index: 99;
  font-size: 0.6vw;
  padding: 3px 2px;

}

.fathersday-discount span {
  display: block;
  font-size: 0.7vw;
  text-transform: uppercase;
  text-align: center;
  font-family: "Gotham";
}

.fathersday-discount:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  left: 2px;
  bottom: -2px;
  z-index: -1;
}

.chart_sub_percent {
  color: #ea8d72;
  font-size: 15px;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin-top: -14px;
  margin-left: 5px;
}

.chart-p {
  padding: 30px 0px;
}

.chart-height {
  height: 374px;
  overflow-y: auto;
  overflow-x: hidden;
}

.rightarea-heading-offer {
  background: #f8d3c9;
  padding: 5px 8px;
  font-size: 1.2vw;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: center;
  color: #2a4153;
  font-family: 'Gotham';
  font-weight: 500;
  position: relative;
  height: auto;
}

.clsbtn {
  position: absolute;
  /* top: 7px; */
  right: 1%;
  display: inline-block;
  width: 2%;
  height: auto;
  border-radius: 50%;
  background-color: #fcece8;
  font-size: 1.1vw;
}

.t-seven {
  font-size: 0.9vw;
}

.fathersday-discount span.t-heading {
  font-size: 0.5vw;
  text-transform: uppercase;
}

marquee {
  line-height: normal;
  margin-top: 10px;
}

.leftScroll {
  max-height: calc(78vh);
  overflow-y: auto;
}


.leftScroll::-webkit-scrollbar {

  width: 5px;
  height: 5px;
}

.leftScroll::-webkit-scrollbar-track {
  margin-top: 70px;
  background: transparent;
  box-shadow: inset 0 0 5px #2a4153;
  border-radius: 4px;
  border-left: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
}

.leftScroll::-webkit-scrollbar-thumb {

  background: #2a4153;
  border-radius: 4px;
}

.secOffer-text {
  font-size: 1.4vw;
  font-weight: 400;
}

.combo_offer_img {
  width: 37%;
}

.wedding_img {
  width: 12vh;
}

@media (max-width: 767px) {
  .wedding_img {
    width: 6vh;
  }

  .combo_offer_img {
    width: 33%;
  }

  .secOffer-text {
    font-size: 2.2vw;
    ;
  }

  .rightarea-heading-offer {
    padding: 0px;
  }

  marquee {
    margin-top: 3px;
  }

  .rightarea-heading-offer.t-seven {
    font-size: 0.9vw;
  }

  .rightarea-heading-offer.t-five {
    font-size: 2vw;
  }

  .clsbtn.t-cls {
    top: 4px;
    right: 5px;
    width: 18px;
    height: 18px;
    font-size: 0.6rem;

  }

  .clsbtn {
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    font-size: 0.6rem;

  }

  .rightarea-heading-offer {
    padding: 5px 5px;
    font-size: 2.2vw;

    margin-top: 5px;
    margin-bottom: 0px;
  }

  .size_headding.margin {
    margin-right: 2px;
  }

  .chart-height {
    height: 40vh;
  }

  .chart-p {
    padding: 30px 0px 0px;
  }

  .filter-inner-block-mob .priceFont {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Gotham";
    padding-left: 0;
    margin-bottom: 10px;
  }

  .fathersday-discount {
    font-size: 2vw;
    top: 5px;
  }

  .fathersday-discount span {
    font-size: 2vw;
  }

  .fathersday-discount span.t-heading {
    font-size: 1.8vw;
  }
}
